<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/mypage/myBatis/sidedishMapper.xml">
		<!-- 신상품 조회 SQL문 -->
	  <select id="newpdtview" resultType="pdtDTO" parameterType="String">
	    SELECT * FROM 
	    new_pro_view
	  </select>

		<!-- 베스트상품 조회 SQL문 -->
	  <select id="bestpdtview" resultType="pdtDTO" parameterType="String">
	    SELECT * FROM 
	    best_pro_view
	  </select>
	  
	  
		<!-- id 중복체크 -->
	<select id="membercheck" resultType="memDTO" parameterType="String" >
		SELECT mid FROM member 
		WHERE mid = #{mid}
	</select>

		<!-- 로그인시 id pw 확인 -->
	<select id="sessionLogin" resultType="memDTO" parameterType="String">
		 SELECT * FROM member 
		 WHERE mid= #{mid} 
		 AND mpw = #{mpw}
	</select>
	
		<!-- id pw 확인 -->
	<select id="memLogin" resultType="memDTO" parameterType="String">
		 SELECT * FROM member 
		 WHERE mid= #{mid} 
		 AND mpw = #{mpw}
	</select>
	
	<!-- 회원등록 -->
	<insert id="memberinsert">
		INSERT INTO member (mid,mpw,mname,mphone,mpost,maddr,mbirth,memail,msex)
		VALUES (#{mid},
				#{mpw},
				#{mname},
				#{mphone},
				#{mpost},
				#{maddr},
				#{mbirth},
				#{memail},
				#{msex})
	</insert>
	
	<!-- 게시글 전체 출력  -->
	<select id="boardlistAll" resultType="boardDTO">
		SELECT * FROM tblboard
		ORDER BY bno DESC
	</select>
	
	<!-- 게시글 입력 -->
	<insert id="boardinsert">
		INSERT INTO tblboard (bno, title,writer,content) 
		VALUES (seq_tblboard_bno.nextval, #{title},#{writer},#{content})
	</insert>
	
</mapper>